body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mission-bar {
  background-color: black;
}

img {
width: 300px;
height: 200px;
}

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.location {
  background-color: black;
  opacity: 1;
  padding-right: 40px;
  padding-top: 15px;
  width: 300px;
}
